body {
  /*background-color: skyblue;*/
  /*background-image: url(../images/Merino_Sheep.png);*/
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1 {
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  font-size: 5.625rem;
  color: #66BFBF;
  line-height: 2;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
  color: #66BFBF;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}

a {
  color: #11999E;
}

.top-container {
  background-color: #E4F9F5;
  padding-top: 50px;
}

.middle-container {
}

.bottom-container {
}

.top-cloud {
  position: relative;
  left: 300px;
}

.bottom-cloud {
  position: absolute;
}

.portrait {
  border-radius: 100%;
}

.cloud-computing {
  margin-right: 30px;
  width: 20%;
  float: left;
}

.cloud-storage {
  margin-left: 30px;
  width: 20%;
  float: right;
}

.algorithm {
  margin-right: 30px;
  width: 20%;
  float: left;

}

.skill-row {
  margin: 100px auto 100px auto;
  width: 50%;
  text-align: left;
  line-height: 2;
}

