body {
  background-color: skyblue;
  background-image: url(../images/Merino_Sheep.png);
  margin: 0;
  text-align: center;
}

h1 {
  margin-top: 0;
  margin-bottom: 0;
}

.top-container {
  background-color: #E4F9F5;
  padding-top: 50px;
}

.middle-container {
  background-color: red;
  height: 200px;
  width: 200px;
  position: absolute;
  left: 200px; 
}

.bottom-container {
  background-color: yellow;
  height: 200px;
  width: 200px;
  position: absolute;
}

.top-cloud {
  position: relative;
  left: 300px;
}

.bottom-cloud {
  position: absolute;
}

